<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/app.css">
    <title>
        404 
    </title>
</head>

<body>
    {{>header}}
    <h2>{{message}}</h2>
    {{>footer}}
</body>

</html>