<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./css/app.css">
    <title>
        About us
    </title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src = '/img/me.jpg'>
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>